* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#page-header {
    background-color: rgb(34, 34, 34);
    padding: 1rem;
}

.container{
    flex: 1 1 0%;
    width: 100vw;
    font-family: 'PT Sans',sans-serif;
}

h1{
    color: rgb(27, 137, 247);
    text-align: center;
    font-family: 'Nanum Myeongjo',sans-serif;
}
.moderator-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    color: rgb(22, 108, 194);
    margin-top: 1rem;
    text-align: center;
}

.row{
    width: 85%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.col{
    flex-basis: 30%;
    overflow: hidden;
}

.card{
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 20px;
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front{
    background-position: center;
    background-size: cover;
}

.front-1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Sodiq.jpg);
    width: 100%;
    height: 100%;
}

.front-2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img3.png);
    width: 100%;
    height: 100%;
}

.front-3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Babz.jpg);
    width: 100%;
    height: 100%
}

.dev-name {
    display: inline-block;
    width: 180px;
    padding: 0.5rem 0;
    margin-top: 200px;
    border-radius: 4px;
    background: white;
    color: #333;
    transition: transform 1s;
}

#page-footer {
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color: rgb(189, 217, 245);
}

p.footer-text {
    text-align: center;
    font-size: 18px;
}

.card-back{
    display: flex;
    transform:rotateX(180deg);
    background-color: #b8c2d8be;
}
.card-back-content {
    margin: auto;
    padding: 2rem;
}
.card-back-content p {
    font-size: 18px;
    margin-bottom: 1rem;
}

.card:hover  .inner-box{
    transform: rotateX(-180deg);
}

.card:hover  .span{
    transform: translateY(140px);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media img {
    height: 30px;
    margin: 10px 5px;
    padding: 0.5rem;
    background-color:white;
    border-radius: 10px;
}
.social-media img:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.background-pattern {
    background-color: #e8f5ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23154dba' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
